.categories {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 35px 0;
}
.categories__list {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 19px;
  letter-spacing: 0.015em;
}
.categories__item {
  width: 130px;
  height: 35px;
  background: #f9f9f9;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.1s;
  cursor: pointer;
}

.categories__item:hover:not(.categories__item_active) {
  background: #f5f5f5;
}

.categories__item_active {
  background-color: #2c2c2c;
  color: #ffffff;
}
