.title {
  font-weight: 700;
  font-size: 32px;
  line-height: 39px;
  letter-spacing: 0.01em;
}

.pizza-list {
  justify-content: center;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, 280px);
  column-gap: 65px;
  row-gap: 75px;
  margin: 45px auto 45px;
}
