body {
  background-color: #ffdf8c;
  font-family: "Nunito", sans-serif;
  margin: 0;
  color: #000000;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  background-color: #ffffff;
  max-width: 1340px;
  display: flex;
  flex-direction: column;
  margin: 25px;
  padding: 35px;
  box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.03);
  border-radius: 10px;
}
