@import "../../sass//variables";

.search {
  position: relative;
  left: -65px;
  display: flex;
  align-items: center;
  width: 300px;
  height: 35px;
  border: 1px solid #b3b3b3;
  border-radius: 30px;
  transition: 0.3s;

  &__search-icon {
    order: 0;
    width: 20px;
    height: 20px;
    margin: 5px;
    opacity: 0.5;
    transition: 0.3s;
  }
  &__input {
    order: 1;
    border: none;
    width: 250px;
    transition: 0.3s;
  }

  &__input:focus + &__search-icon {
    fill: $orange-color;
  }

  &__clear-icon {
    order: 2;
    width: 10px;
    height: 10px;
    justify-self: flex-end;
    margin-right: 10px;
    cursor: pointer;
  }

  @media screen and (max-width: 1050px) {
    left: 0;
    order: 1;
  }
}

.search:focus-within {
  // box-shadow: 0px 0px 10px 10px rgba(254, 95, 30, 0.1);
  // border-color: rgba(254, 95, 30, 0.1);
}
