.sort {
  position: relative;
  display: flex;
  width: 255px;
}
.sort__icon {
  width: 10px;
  height: 6px;
}
.sort__caption {
  margin: 0 7px 0;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.015em;
}
.sort__current-type {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.015em;
  text-decoration: underline dotted;
  color: #fe5f1e;
  cursor: pointer;
}

.sort__popup {
  position: absolute;
  top: 23px;
  left: 118px;
  margin: auto;
  width: 132px;
  background: #ffffff;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.09);
  border-radius: 10px;
}

.sort__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.015em;
}
.sort__list-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 38px;
  cursor: pointer;
}

.sort__list-item:hover {
  background: rgba(254, 95, 30, 0.05);
}

.sort__list-item_active {
  color: #fe5f1e;
  background: rgba(254, 95, 30, 0.05);
}
